<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="landing-page">
        <%- include('partials/navbar') %>

        <div class="content">
          <h1>Generate AI Image</h1>
          <div class="image-generator">
              <textarea id="promptInput" placeholder="Whatever you can imagine..." rows="4" cols="50"></textarea>
              <button id="generateButton" class="cta-button">Generate Image</button>
          </div>
          <div id="generatedImage"></div>
      </div>
    </div>

    <!-- Modal -->
    <<div id="authModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="auth-tabs">
          <button class="auth-tab active" data-tab="login">Login</button>
          <button class="auth-tab" data-tab="register">Sign Up</button>
        </div>
        <div id="loginForm" class="auth-form active">
          <h2>Login</h2>
          <form id="loginFormElement">
            <input type="email" id="loginEmail" required placeholder="Email">
            <input type="password" id="loginPassword" required placeholder="Password">
            <button type="submit">Login</button>
          </form>
        </div>
        <div id="registerForm" class="auth-form">
          <h2>Sign Up</h2>
          <form id="registerFormElement">
            <input type="email" id="registerEmail" required placeholder="Email">
            <input type="password" id="registerPassword" required placeholder="Password">
            <button type="submit">Register</button>
          </form>
        </div>
        <div id="message"></div>
      </div>
    </div>

    <!-- Javascript Code for showing modal & fetching register route -->
    <script src="/js/modal.js"></script>
    <script src="/js/imageGenerator.js"></script>

    <!-- Simple Analytics -->
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
</html>